.features__list {
  list-style: none;
}

.features__item--background {
  background-color: @basic-blue;
}

.features__item {
  text-align: center;
  text-transform: uppercase;
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @basic-black;
}

.features__title--color {
  color: @basic-white;
}

.features__slogan {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: @basic-black;
}

.features__intro {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-gray;
  margin-bottom: 37px;
}
