.site-list {
  background-color: #81b3d2;
}

.site-list__item {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}
.site-list__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
